@model WEBAPP_MVC.Domain.Entities.ClassEntity;

<h1>Class Details</h1>

<div class="row">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Class)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Class)
    </dd>
</div>